
@{
    ViewBag.Title = "List";
    var newList = ViewBag.data as string[];
    var newlist= ViewData["data"] as string[];
}

<h2>List</h2>

<ul>
    @foreach (var item in newList)
    {
        <li>@item</li>
    }
</ul>

<ul>
    @for (int i=0;i<newlist.Length;i++)
    {
        <li>@newlist[i]</li>
    }
</ul>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }

</ul>